###################
## General
###################

# files
*.exe
*.txt

###################
## Visual Studio
###################

# folders
.vs
bin
obj
packages

###################
## Delphi
###################

# files
*.~*
*.dcu
*.ddp